<div class="signup-wrapper">
  <div class="basic-layout d-flex fd-column">
    <div class="basic-header d-flex jc-space-between">
      <a (click)="navigateToHome()">Inserte aca logo</a>
      <!-- crear header -->
      <button mat-button class="sign-in d-flex jc-center ai-s-center" (click)="navigateToSignIn()">Sign In</button>
    </div>

    <div class="simple-main">
      <section class="d-flex sign-up">

        <!-- hacer solo el form un componente
          y el sign como tipo auth para que se pueda hacer sign in y sgin up en el mismo
        -->
        <form [formGroup]="form" class="w-100" novalidate (ngSubmit)="submitForm($event)" action="">

          <app-inputs [type]="username" [formControlName]="username" [fieldForm]="usernameField" [placeholder]="placeholderSignIn"></app-inputs>

          <!-- PASSWORD -->

          <app-inputs [type]="password" [showValidations]="false" [formControlName]="password" [placeholder]="placeholderPassword"></app-inputs>

          <ng-container *ngIf="passwordField.errors && passwordField.touched">
            <small *ngIf="passwordField.hasError('required') && passwordField.touched">Este campo es
              requerido.</small>
          </ng-container>

          <button type="submit" mat-button>SEND</button>
        </form>

      </section>
    </div>

    <footer class="footer">
      <app-footer></app-footer>
    </footer>
  </div>
</div>
