:host {
  display: flex;
}

.signup-wrapper {
  width: 100%;
}

.basic-layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

/* urgente crar las clases en sass p[ara reutilizar
mas las de flex y todas

definir mas los comentarios en el main para el uso de los estilo
  talves ejemplos
*/

.basic-header {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--spec-line-color);
}

.simple-main {
  max-width: 970px;
  margin: 0 auto;
  padding: 20px;
  flex-grow: 1;

  section {
    display: flex;
    max-width: 520px;
    min-width: 250px;
    height: 400px;
    margin: 0 auto;
  }
}

.footer {
  height: 162px;
  background-color: var(--spec-wrapper-tertiary);
}
