<div class="signup-wrapper">
  <div class="basic-layout d-flex fd-column">
    <div class="basic-header d-flex jc-space-between">
      <a (click)="navigateToHome()">Inserte aca logo</a>
      <!-- crear header -->
      <button mat-button class="sign-in d-flex jc-center ai-s-center" (click)="navigateToSignIn()">Sign In</button>
    </div>

    <div class="simple-main">
      <section class="d-flex sign-up p-3">

        <!-- hacer solo el form un componente
          y el sign como tipo auth para que se pueda hacer sign in y sgin up en el mismo
        -->
        <form [formGroup]="form" class="w-100" novalidate (ngSubmit)="submitForm($event)" action="">

          <div class="w-100 pt-3 g-sign">
            <button class="w-100" type="submit" mat-button>
              <i class="fab fa-google"></i>
              <span>Sign up with Google</span>
            </button>
          </div>

          <div class="w-100">
            <app-inputs class="pt-4" [type]="username" [formControlName]="username" [errorMsg]="errorMsg.email"
              [placeholder]="placeholderSignIn"></app-inputs>

            <app-inputs class="pt-4" [type]="password" [formControlName]="password" [errorMsg]="errorMsg.password"
              [placeholder]="placeholderPassword"></app-inputs>
          </div>

          <div class="pt-5"></div>

          <button class="btn-sign" type="submit" mat-raised-button>Create Account</button>

          <div class="opts pt-5 d-flex jc-center">
            <span> Already have an account?</span>
            <span>Log in</span>
          </div>

        </form>

      </section>
    </div>

    <footer class="footer">
      <app-footer></app-footer>
    </footer>
  </div>
</div>
