<div class="signup-wrapper">
  <div class="basic-layout d-flex fd-column">
    <div class="basic-header d-flex jc-space-between">
      <a (click)="navigateToHome()">Inserte aca logo</a>
      <!-- crear header -->
      <button mat-button class="sign-in d-flex jc-center ai-s-center" (click)="navigateToSignIn()">SignIn</button>
    </div>

    <div class="simple-main">
      <section class="d-flex">
        inserte aca signup
      </section>
    </div>

    <footer class="footer">
      <app-footer></app-footer>
    </footer>
  </div>
</div>
