<div class="custom-input w-100" [ngStyle]="{'height': setHeight()}">

  <input [value]="currentValue" autocomplete [(ngModel)]="currentValue" (input)="onInput($event.target.value)"
    [type]="type" [placeholder]="placeholder" [name]="'f-' + type" [disabled]="isDisabled"
    [ngStyle]="{'height': isString(height) ? height : '44px'}">
<!--
  <ng-container *ngIf="showValidations && fieldForm">
    <div class="w-100">
    </div>
  </ng-container>
  <span> Please provide your email. </span> -->
  <!--       <span> Please provide a password with more than 5 caracters. </span> -->

  <!--      [class.is-danger]="field.errors"
    hacer un banco de validaciones de esta manera esta mejor
    ya que obtengo el form control y no creo 2 que burro ya lo mejore
    debo saber cual es el error y para quien

  -->

</div>


<ng-template #emailValidation>

  <ng-container [ngSwitch]="fieldForm.errors">
    <ng-container *ngFor="let validation of basicValidationField.messages">
      <span *ngSwitchCase="validation.nameValidator"> {{validation.message}} </span>
    </ng-container>

  </ng-container>

</ng-template>
