<mat-sidenav-container class="aside-nav-container">
  <mat-sidenav class="b-scroll" #sidenav mode="over" (opened)="openAside()" (closed)="closeAside()"
    [fixedBottomGap]="0">
    <div class="aside-container">
      Hola
      <div *ngFor="let groupItems of listItems" class="div">
        <div *ngFor="let item of groupItems.items" class="div">
          <i class="material-icons"> {{ item.iconName }} </i>
          <span> {{ item.name }} </span>
        </div>
      </div>
    </div>
  </mat-sidenav>
</mat-sidenav-container>

